[flake8]
exclude =
    */migrations/*,
    .git,
    __pycache__,
    *.pyc,
    */site-packages/*,
    venv,
    .venv,
    env,
    .env,
    settings.py,
    manage.py

ignore =
    E501,

max-line-length = 120